<div id="converter-container">
    
    <input 
        id="from-currency" 
        list="currencies" 
        [(ngModel)]="fromCurrency" 
        (change)="convert()" 
        (click)="emptyCurrencyInput(true)"
        (focusout)="checkIfEmpty(true)">

    <input 
        id="fromValue" 
        type="number" 
        [(ngModel)]='amount' 
        (input)="convert()">

    <input 
        id="to-currency" 
        list="currencies" 
        [(ngModel)]="toCurrency" 
        (change)="convert()" 
        (click)="emptyCurrencyInput(false)"
        (focusout)="checkIfEmpty(false)">

    <datalist id="currencies">
        <option 
            *ngFor="let currency of currencies" 
            value="{{currency.currency.code}}">
            {{currency.currency.fullName}}
        </option>
    </datalist>

    <div id="result-section">
        <p>{{conversionValue}} {{toCurrencySymbol}}</p>
    </div>
    <div id="switch-container">
        <div id="switch">
            <span 
                class="material-symbols-outlined favorite-icon" 
                id="favorite-toggle-converter"
                (click)="favoriteToggle()"
                [class.is-favorite]="isFavorite(fromCurrency,toCurrency,false)">
                favorite
            </span>
            <span 
                class="material-symbols-outlined" 
                id="switch-button"
                (click)="switchCurrencies()">
                swap_vert
            </span>
        </div>
    </div>

</div>
